name: Build

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:
    inputs:
      force_thunderstore:
        description: Force re-publishing to Thunderstore
        required: true
        default: false
        type: boolean
      force_nuget:
        description: Force re-publishing to NuGet
        required: true
        default: false
        type: boolean

permissions:
  contents: write
  id-token: write
  attestations: write

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}
      attestation-url: ${{ steps.attest.outputs.attestation-url }}

    steps:
    - uses: actions/checkout@v6
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.x
    - name: Build
      run: dotnet build -c Release --verbosity normal
    - name: Pack
      run: dotnet pack -o nuget/
    - name: Get Version
      id: version
      run: |-
        VERSION=$(dotnet build Silksong.EndingIndicators.csproj -getProperty:Version)
        echo Version is $VERSION
        echo "version=$VERSION" >> $GITHUB_OUTPUT
    - name: Upload thunderstore artifact
      uses: actions/upload-artifact@v6
      with:
        name: mod-bundle
        path: bin/Publish/*.zip
    - name: Upload nuget artifact
      uses: actions/upload-artifact@v6
      with:
        name: nuget
        path: nuget/
    - name: Generate attestation
      id: attest
      uses: actions/attest-build-provenance@v3
      if: github.event_name == 'push'
      with:
        subject-path: |
          bin/Publish/*.zip
          nuget/*.nupkg

  # Publish to Thunderstore to that users can install it
  release-thunderstore:
    needs:
      - build
    runs-on: ubuntu-latest
    if: |
      (
        github.event_name == 'push'
      ) ||
      (
        github.event_name == 'workflow_dispatch' &&
        github.event.inputs.force_thunderstore == 'true'
      )
    # Do not substitute your Thunderstore API key in this workflow! Instead, add a secret to your repository.
    # https://docs.github.com/en/actions/how-tos/write-workflows/choose-what-workflows-do/use-secrets
    env:
      THUNDERSTORE_API_KEY: ${{ secrets.THUNDERSTORE_API_KEY }}

    steps:
    - uses: actions/checkout@v6
    - name: Download artifact
      uses: actions/download-artifact@v7
      with:
        name: mod-bundle
        path: artifacts
    - name: Get assembly title name
      id: name
      run: |-
        NAME=$(dotnet build Silksong.EndingIndicators.csproj -getProperty:AssemblyTitle)
        echo Assembly title is $NAME
        echo "name=$NAME" >> $GITHUB_OUTPUT
    - name: Get project description
      id: description
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |-
        DESCRIPTION=$(gh repo view --json description --jq .description)
        echo Description is $DESCRIPTION
        echo "description=$DESCRIPTION" >> $GITHUB_OUTPUT
    - name: Get project topics
      id: topics
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |-
        TOPICS=$(gh repo view --json repositoryTopics --jq \
          '.repositoryTopics // [] | map(.name) | ["mods"] + . | @csv')
        echo Topics are $TOPICS
        echo "topics=$TOPICS" >> $GITHUB_OUTPUT
    - name: Generate package manifest
      run: |
        cat <<'EOF' > thunderstore.toml
        [config]
        schemaVersion = "0.0.1"

        [package]
        namespace = "Unavailable"
        name = "${{ steps.name.outputs.name }}"
        versionNumber = "${{ needs.build.outputs.version }}"
        description = "${{ steps.description.outputs.description }}"
        websiteUrl = "https://github.com/${{ github.repository }}"
        containsNsfwContent = false

        [package.dependencies]
        BepInEx-BepInExPack_Silksong = "5.4.2304"

        [build]
        icon = "assets/icon.png"
        readme = "README.md"
        outdir = "build"

        [[build.copy]]
        source = "dist"
        target = ""

        [publish]
        repository = "https://thunderstore.io"
        communities = ["hollow-knight-silksong"]

        [publish.categories]
        # available categories can be found at https://github.com/thunderstore-io/ecosystem-schema/blob/master/games/data/hollow-knight-silksong.yml
        hollow-knight-silksong = [${{steps.topics.outputs.topics}}]
        EOF
    - name: Create dist directory
      run: 7z x artifacts/*.zip -odist
    - name: Install tcli
      run: dotnet tool install --global tcli
    - name: Publish to Thunderstore
      if: env.THUNDERSTORE_API_KEY != ''
      run: tcli publish --token $THUNDERSTORE_API_KEY

  # Publish to NuGet so that other mods can depend on it in CI
  release-nuget:
    needs:
      - build
    runs-on: ubuntu-latest
    if: |
      (
        github.event_name == 'push'
      ) ||
      (
        github.event_name == 'workflow_dispatch' &&
        github.event.inputs.force_nuget == 'true'
      )
    # Do not substitute your NuGet API key in this workflow! Instead, add a secret to your repository
    # https://docs.github.com/en/actions/how-tos/write-workflows/choose-what-workflows-do/use-secrets
    env:
      NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}

    steps:
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 9.x
    - name: Download artifact
      uses: actions/download-artifact@v7
      with:
        name: nuget
        path: nuget/
    - name: Publish to NuGet
      if: env.NUGET_API_KEY != ''
      run: |-
        dotnet nuget push nuget/*.nupkg \
          --api-key $NUGET_API_KEY \
          --source https://api.nuget.org/v3/index.json

  # Publish to GitHub releases to keep release history on the repository (needed for this workflow to work properly
  # but is also nice for multiple other reasons such as auto-tagging *after* a build success)
  release-github:
    needs:
      - build
    runs-on: ubuntu-latest
    if: github.event_name == 'push'

    steps:
    - name: Download artifact
      uses: actions/download-artifact@v7
      with:
        name: mod-bundle
        path: artifacts
    - name: Get changelog entry
      id: changelog
      uses: mindsers/changelog-reader-action@v2
      with:
        validation_level: warn
        version: ${{ needs.build.outputs.version }}
    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        draft: false
        generate_release_notes: false
        fail_on_unmatched_files: true
        tag_name: v${{ needs.build.outputs.version }}
        body: |
          ${{ steps.changelog.outputs.changes }}
          ---
          Build attested at ${{ needs.build.outputs.attestation-url }}
        files: |
          artifacts/*.zip
